{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<section>
    <div class="aboutme">
        <h1>About Me</h1> <span>
            <p>Hi my name is, my name is, my name is ficky ficky slim shady Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa recusandae dolorem nihil blanditiis, eum expedita minima deserunt ullam aut eligendi eius debitis amet fugiat ipsa dolore quos non? Dolor. <span>I think i'm finally starting to understand <a target="_blanck" href="salfia.com">this backend stuff</a></span></p>
        </span>
    </div>
</section>


{% endblock content %}